/*------------------------------------*\
   Colours
\*------------------------------------*/
$white: #fff;
$black: #000;	

$primary: #b33c21;
$secondary: #d83b18;
$copy: #333;
$copy-light: #555;
$copy-lightest: #999;
$headings: $copy;
$brand: $primary;
$action: $secondary;

$white-overlay1: rgba(255, 255, 255, 0.85);
$white-overlay2: rgba(255, 255, 255, 0.7);
$white-overlay3: rgba(255, 255, 255, 0.3);

/*------------------------------------*\
    Structure
\*------------------------------------*/
$sidebar-base-width: 17rem;
$bp-sidebar: 60rem;